spring:
  application:
    name: discodeit

discodeit:
  repository:
    type: file   # jcf | file
    file-directory: .discodeit


logging:
  level:
    root: DEBUG

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
